@import url('https://fonts.googleapis.com/css?family=Josefin+Sans||Luckiest+Guy');

.menu{
    position: relative;
    /* right: 10%; */
    float: right;
    margin-right: 71px;
    top: 14px;
    font-size: 22px;
}
.logout{
    float: right;
}
.help{
    float: right;
    margin: 12px;}

    
h1{
    font-family: 'Luckiest Guy', cursive;
    text-align: center;
}
.card{
    height: auto;
    min-height: 300px;
    width: 350px;
    float: left;
    margin-left: 200px;
    box-shadow: 3px 3px 8px rgb(68, 59, 59);
    margin-top: 134px;
    background-color: white;
    padding: 44px;
    font-family: 'Josefin Sans', sans-serif;
 }
 img{
    margin-left: 43%;
 }