<!--The content below is only a placeholder and can be replaced.-->
<button (click)="sort()">Sort</button>
<h1>Wine Lister</h1>
<img src="https://loading.io/spinners/dual-ring/lg.dual-ring-loader.gif" *ngIf="dataObject.length<1" >
<div class="card" *ngFor="let data of dataObject">
<table>
  <tr>
    <td>Country</td>:
    <td>{{data.country}}</td>
  </tr>
  <tr>
    <td>Description</td>:
    <td>{{data.description}}</td>
  </tr>
  <tr>
    <td>Designation</td>:
    <td>{{data.designation}}</td>
  </tr>
  <tr>
    <td>Points</td>:
    <td>{{data.points}}</td>
  </tr>
  <tr>
    <td>Price</td>:
    <td>{{data.price}}</td>
  </tr>
  <tr>
    <td>Province</td>:
    <td>{{data.province}}</td>
  </tr>
  <tr>
    <td>Variety</td>:
    <td>{{data.variety}}</td>
  </tr>
  <tr>
    <td>Winery</td>:
    <td>{{data.winery}}</td>
  </tr>
</table>
</div>
